<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>chatbot</title>
</head>
<body>
    <div class="container">
      <span class="title">OpenAI API integrated Conversational AI Chatbot
        </span>
        <div class="top">
          
          <div class="top-content">
            
          <input type="text" [(ngModel)]="prompt" placeholder="Ask me a question!" class="textbox-content">
          <button (click)="onSubmit()" value="Search" class="submit-content"><img src="assets/icons8-search-50.png" height="35" width="35"></button>
          </div>
          </div>
        <div class="middle" id="middle">
            <!-- Your scrollable content goes here -->
            <h3 *ngIf="history.length<=0" style="text-align: center;color: #fafafa; font-weight: 200;">You have not searched anything yet!</h3>
            <div id="scrollableContent">
              <div class="common" *ngFor="let record of history.reverse()">
                <div class="questions"><p>{{ record.ques }}</p></div>
                <br><br>
                <div class="answers"><p>{{ record.ans }}</p></div>
              </div>
            </div>
        </div>
        <div class="bottom">Aman kumar verma &nbsp;&nbsp; | &nbsp;&nbsp; amakv055@gmail.com &nbsp;&nbsp;| &nbsp;&nbsp; <a href="https://www.linkedin.com/in/aman-kumar-verma-2144581b7/" style="text-decoration: none;color: inherit;">linkedin.com/in/aman-kumar-verma-2144581b7</a> &nbsp;&nbsp;| &nbsp; &nbsp; <a href="https://github.com/aman-kr-verma" style="text-decoration: none;color: inherit;">github.com/aman-kr-verma</a></div>
    </div>

    <script>
        window.onload = function() {
            var middleDiv = document.getElementById('middle');
            var contentDiv = document.getElementById('scrollableContent');

            function checkOverflow() {
                if (contentDiv.scrollHeight > middleDiv.clientHeight) {
                    middleDiv.style.overflowY = 'scroll'; // Show scrollbar if content exceeds max height
                } else {
                    middleDiv.style.overflowY = 'hidden'; // Hide scrollbar if content does not exceed max height
                }
            }

            // Check overflow on content change
            contentDiv.addEventListener('input', checkOverflow);
            checkOverflow(); // Initial check
        };
    </script>
</body>
</html>
