


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.container-form {
    height: 55vh;
    width: 40vw;
    background-color: transparent;
    border: 1px solid black;
    border-style: outset;
    border-color:transparent;
}

.create-user {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e28;
    color: #ccc;
    padding-right: 10px;
}

.textbox {
    height: 5vh;
    background-color: #ccc;
    width: 70%;
    color: black;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: rgb(21, 38, 122);
    border-width: 3px;
    border-radius: 2%;
    text-align: center;
    font-size: 14px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.submit {
    height: 6vh;
    background-color: rgb(67, 67, 213);
    width: 25%;
    text-align: center;
    font-size: 14px;
    margin-left: 80px;
    margin-bottom: 40px;
    color: white;
    font-weight: 200;
    margin-left: 36%;
}

.alerts {
    margin-top: 0px;
    width: 30%;
    display: inline-table;
    color: red;
}