

a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(230, 231, 226);
    font-weight: bold;
    font-size: 19px;
}

a:hover {
    color: red;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.container-form {
    height: 55vh;
    width: 40vw;
    background-color: #f2f4f7;
    border: 1px solid black;
    border-radius: 2%;
    border-style: outset;
}

.create-user {
    height: 7vh;
    background-color: #1c42edf2;
    color: white;
}

.textbox {
    height: 5vh;
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-color: rgb(70, 99, 244);
    border-radius: 2%;
    text-align: center;
    font-size: 14px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.submit {
    height: 6vh;
    background-color: rgb(3, 3, 80);
    width: 71%;
    text-align: center;
    font-size: 14px;
    margin-left: 80px;
    margin-bottom: 40px;
    color: white;
    font-weight: 200;
}

.alerts {
    margin-top: 0px;
    width: 30%;
    display: inline-table;
    color: red;
}