.header {
    height: 9vh;
    background-color: #1e1e28;
    /* background-color: rgb(3, 3, 80); */
    width: 100%;
    justify-content: right;
    align-items: center;
    display: flex;
}

.logo {
    color: #ccc;
    margin-left: 20px;
}
a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    font-size: 19px;
}

a:hover {
    color: #807e7e;
}

